[2014-08-01 04:06] nightire opened #2 "How to override the default options?"
Can you provide an example to override the default options, say what if I need to require more compass plugins?

[2014-08-03 16:32] jordansmith42 opened #3 "Didn't convert default app.css to appname.css ember-cli@v0.0.40"
The addon works great, but with ember-cli v0.0.40 apparently the default css file is just app/styles/app.css, not appname.css which isn't converted correctly to appname.scss and throws an error in compass compilation. Changing the filename manually works though.

I'm new to ember-cli so I may have missed a step, but here's what I did:

ember new test-app
cd test-app
npm install --save-dev ember-cl

[2014-08-04 04:35] #3 closed, assigned to nobody

[2014-08-07 00:47] #2 closed, assigned to nobody

[2014-08-09 18:13] mikl opened #6 "Compass command setting for Bundler support?"
broccoli-compass exposes a `compassCommand` that can be used to make it use `bundler exec` rather than a globally installed compass, as described [here](https://github.com/g13013/broccoli-compass/commit/df34d965feab6a9404bc604c669bc73e815dd59a).

Is this also possible with this handy plugin?

[2014-08-12 19:42] jamesmenera opened #7 "To use the .sass format you need to hardcode the ext"
Not sure how you want to handle this and am willing to submit a pull request. But in order to compile .sass files you need to hardcode the ext in the index.js file. There should be an easy way to toggle between .scss and .sass.

![screen shot 2014-08-12 at 12 39 56 pm](https://cloud.githubusercontent.com/assets/398162/3896472/7facb356-2258-11e4-91da-2c9b838bae0d.png)

[2014-08-15 14:37] alkamin opened #8 "Vague error messages"
Not sure if this is within the scope of this project or something to do with another component of the ember-cli setup, but when running into a syntax error during compilation we're getting unhelpful messages

[code]

In order to see what is actually causing the compilation error I had to manually run the command, which then informed me of the actual issue:

[code]

It would be nice to have the com

[2014-08-26 17:10] stefanpenner opened #12 "use lodash assign/merge/extend/defaults and pass all options"
https://github.com/quaertym/ember-cli-compass-compiler/blob/master/index.js#L19-L40

[2014-08-27 20:40] #6 closed, assigned to nobody

[2014-08-28 22:57] samselikoff opened #13 "Installed and ember build freezes"
Using ember-cli 0.42. Compass 1.0.1 installed on my machine. I installed, and ember build/ ember serve freezes.

Is there a way to see a log/output of where the build process is stopping?

[2014-08-29 14:17] #13 closed, assigned to nobody

[2014-08-31 14:23] #12 closed, assigned to nobody

[2014-09-05 17:29] shwoodard opened #16 "Broken with ember-cli 0.0.43"
Dunno what much else to say but my app won't server or build after upgrade.

[2014-09-13 00:45] #16 closed, assigned to nobody

[2014-09-13 00:48] #7 closed, assigned to nobody

[2014-09-18 14:30] jgelens opened #18 "Compass errors not shown"
Using the latest version Compass compile errors are not shown anymore :-(

Instead I get the following:

[code]

Any idea how to fix this?

[2014-09-18 14:35] #18 closed, assigned to nobody

[2014-09-18 16:36] shwoodard opened #20 "I think this is broken again for 0.0.46"
error: file to import not found or unreadable: 'compass/css3/font-face'

[2014-09-22 16:14] stefanpenner opened #22 "include example with some handy excludes"
turns out broccoli-compass is pretty aggressive about pulling stuff in, causing large amounts of extra file copies. Until the symlink/hardlink refactoring arrives we have to be careful about these.

I think a whitelist would likely be better, but the bellow was a quickfix and helped with performance.

[code]

related:  (whitelisting) https://github.com/g13013/broccoli-compass/blob/master/index.js#

[2014-09-25 15:13] samselikoff opened #23 "Need broccoli-sass?"
This project doesn't need `broccoli-sass`, correct? It may be worth pointing out in the README, because often people add sass, then later add compass. As of .45 testem will complian if you're using `broccoli-sass` and don't have a file named `app.scss`.

If this is correct I'll submit a PR on the readme.

[2014-09-25 17:06] #23 closed, assigned to nobody

[2014-09-25 18:53] #20 closed, assigned to nobody

[2014-09-26 16:20] hellotheremike opened #25 "Error when initiating. Error at index.js:8"
I have a clean slate project  that i requierd the latest version of `ember-cli-compass-compiler`.

When i run `ember server` i get the error

[code]

It crashes when it's trying to run `this._super.included.apply(this, arguments);` in the `index.js` file.

I've followed the instructions and can't figure out what the problem is.

[2014-09-26 21:00] #8 closed, assigned to nobody

[2014-09-27 05:59] Zuur opened #26 "Error: Command failed: Individual stylesheets must be in the sass directory."
When building from a directory path *with a space in*, using Ember 0.0.46 I get the following error:

[code]

The command being executed is:
[code]

If I wrap the ```--css-dir``` value in quotes (by hard-coding it) it will fix the problem, but I can't see an easy way to easily do that dynamically.

[2014-09-28 16:56] #25 closed, assigned to nobody

[2014-09-29 12:29] #22 closed, assigned to nobody

[2014-09-29 12:50] stefanpenner opened #28 "not targeting known entry points."
currently we compile the whole `app/styles` but I believe we care about specific entries points only. For example, given the app name of `foo`. I would expect to specific `app/styles/foo.scss` as the entry point:

[code]

but instead today we do

[code]

the later appears to treat each file as an entry point. This results in includes provided  in foo.scss not being available to files it depends on

[2014-09-29 17:42] #28 closed, assigned to nobody

[2014-10-06 12:31] ccoenen opened #29 "compass compile never finishes / incompatible with compass-rails"
If you come to this place to find a problem with ember-cli-compass-compiler, i hope to save you some time. The problem appears to be somewhere completely different.

If your compass compile never returns, but instead keeps your CPU occupied until you hit `Ctrl+C`, then this might be your problem: https://github.com/Compass/compass-rails/issues/185

The only known solution seems to be to uninstall

[2014-10-06 12:49] ccoenen opened #30 "request for an example with imagesDir"
I can't quite figure out how to configure this correctly. In my project, i have a few assets for example `<appname>/public/assets/images/logo.png` (the directory is up for debate, it's just, where i currently put my assets).

I guess, i'm asking where to put images _or_ where to configure the images location. I tried this in my `Brocfile.js` in an ember-cli 0.1.1 project:

[code]

this does not do

[2014-10-07 09:10] #30 closed, assigned to nobody

[2014-10-10 22:13] #29 closed, assigned to nobody

[2014-10-14 23:07] f3ndot opened #31 "Unable to specify a compass.rb config file"
Because we need `http_images_path` which isn't exposed over CLI, we want to use a `compass.rb` file to specify it.

You need to add a `compassConfig` option that takes a string of the path to the directory.

eg:

[code]

produces:

[code]

Alternatively, if you think this is bogus, how do you suggest I use the `http_images_path` option?

[2014-10-29 05:31] newtonianb opened #32 "Unable to load extension: compass-rails"
I'm a bit confused why it's mentionning `compass-rails` but when I do an `ember build` it builds properly but I get these errors. I even tried installing `gem install compass-rails` but the error remains. ps(windows machine)

[code]

[code]

[2014-10-30 06:47] newtonianb opened #33 "Building LoadError on line ["126"] of C: cannot load such file -- susy"
Any idea what this means?

[code]

[code]

[2014-10-30 10:15] #31 closed, assigned to nobody

[2014-11-01 17:24] #32 closed, assigned to nobody

[2014-11-18 17:04] samselikoff opened #35 "Use app.scss, not [appname]"
app.scss is the ember-cli convention, and also the convention other libs use (e.g. ember-cli-bootstrap-sass). The sass import paths get screwed up when we switch to [appname].

We should probably use app.scss.

[2014-12-20 23:43] sumeetattree opened #37 "Import errors with bootstrap-sass-official/other sass files."
The compiler is not playing nice with other sass files. When trying to import sass files from within app/styles or bower_components.

Here's the app.scss
[code]

Error 1:
[code]

This is fixable by prepending '../../' to bower_components.

Error 2: (After fixing the file import issue)

[code]

But I believe it still fails to load the files properly as I can't use any mixins included from _bootstra

[2015-01-03 01:32] #33 closed

[2015-01-03 02:21] jamesarosen opened #39 "Blows up if project path has spaces"
If I'm working in an Ember project whose path is `/home/me/My Project/`, running `ember build` results in `Build failed. Command failed: Individual stylesheets must be in the sass directory.`

I added some debugging info to `compass.js`, emitting the `command` at the end of `generateCommand`. It emits `compass compile --sass-dir=app/styles --css-dir=/home/meMy Project/tmp/compass_compiler-tmp_cach

[2015-01-03 02:26] jamesarosen commented on #39
The simple patch works fine for my case:
[code]

[2015-01-03 02:46] quaertym commented on #39
@jamesarosen which version do you use?

[2015-01-03 02:48] jamesarosen commented on #39
This is on 0.0.17. 0.0.18 [fixes the problem](https://github.com/quaertym/ember-cli-compass-compiler/blob/7b0c513f0ba1fa1254549dc9d9ef57ae874611e5/compass.js#L24) for `cssDir`, but I don't see a fix for `sassDir`.

[2015-01-03 03:23] jamesarosen commented on #39
(Still, 0.0.18 works for me since it's my *project* directory that has the space and `sassDir` is relative to that, not absolute.)

[2015-01-03 03:28] quaertym commented on #39
Please close if it is not an issue anymore.

[2015-01-03 03:38] jamesarosen commented on #39
If someone set `sassDir: "app/custom styles"` then they'd see the same problem. I think that's pretty unlikely, though. I'll close for now.

[2015-01-03 03:38] #39 closed

[2015-01-03 03:52] #37 closed

[2015-01-06 19:27] brandonjmckay commented on #37
Maybe this could be added to the docs?

[2015-01-06 22:16] quaertym commented on #37
@brandonjmckay I'd love a PR if you have time.

[2015-01-09 14:59] ofridagan opened #40 "Importing from vendor"
In Ember-Cli docs it says:
The vendor trees that are provided upon instantiation are available to your dynamic style files. Take the following example (in app/styles/app.scss):
@import "bower_components/foundation/scss/normalize.scss";

This works when using broccoli-sass, but I couldn't get it to work with ember-cli-compass-compiler.

Is it possible? What do I need to do?

Thanks!

[2015-01-09 17:54] quaertym commented on #40
You should import the necessary file from your `appname.scss`. For example for bootstrap sass I do the following:
[code]

[2015-01-10 09:15] ofridagan commented on #40
Oh.. I was using app.sass
I wonder why the compilation even worked without the vendor imports...
Would be nice to have an error about that on the console, or at least document this (did I miss it?)

Anyway, it works now. Thanks!!

[2015-01-11 11:38] #40 closed

[2015-01-16 17:18] lolmaus opened #41 "Ember server won't restart Compass for edits in files located outside of `app/styles`"
Hi!

I'm converting my Ember CLI project structure to pods. Thus, i'm moving my Sass partials outside of the `app/styles` folder.

When i first start `ember server`, all CSS is rendered correctly. Styles from partials outside the `app/styles` make their way into the browser.

Then, when i edit a Sass partial, Ember server detects the edit and restarts the build. The problem is that Compass is not

[2015-01-16 17:27] lolmaus commented on #41
I tried setting `sassDir: 'app'`, but it didn't help. :(

[2015-01-16 18:20] lolmaus commented on #41
I think this limitation is introduced with this line (specifically, the `'css'`): https://github.com/quaertym/ember-cli-compass-compiler/blob/master/index.js#L8

I traced it to this Ember CLI file: https://github.com/ember-cli/ember-cli/blob/master/lib/broccoli/ember-app.js

...but was unable to grasp it. :( Need help from Ember CLI devs.

[2015-01-16 18:26] lolmaus commented on #41
Found a relevant issue on Ember CLI: https://github.com/ember-cli/ember-cli/issues/2561

Closing this.

[2015-01-16 18:26] #41 closed

[2015-01-16 18:34] quaertym commented on #41
:+1:

[2015-02-12 03:10] trev opened #42 "Doesn't follow outputsPath"
I've got something like this in my Brocfile.js:

[code]

Everything BUT the app.css will build into `dist/stuff`. The app.css still goes to `dist/assets`.

[2015-02-12 15:51] lessless opened #43 "Mess with the pathes?"
Hello, it become impossible to import scss files from bower directory after installation of ember-cli-compass-compile:

[code]

[code]

[code]

[2015-02-12 16:14] quaertym commented on #43
Please see my first comment in https://github.com/quaertym/ember-cli-compass-compiler/issues/37

[2015-02-12 16:25] lessless commented on #43
great, thank you!

[2015-02-12 16:25] #43 closed

[2015-02-24 10:55] lessless opened #45 "Error in ember-cli-0.2-beta.1: app/styles/app.[scss|sass] does not exist"
Hello!
Today I tried to update to ember-cli-0.2-beta.1 and encountered an error
[code]
though i renamed xk21.scss to app.scss

[2015-02-26 16:39] Marthyn opened #46 "Can't find app.scss"
Since upgrading to ember cli 0.2.0 beta 1 i get this error

[code]

When i look in finder i find this:

![screen shot 2015-02-26 at 17 38 45 1](https://cloud.githubusercontent.com/assets/642544/6396379/61dc222c-bdde-11e4-97f7-ae64be190742.png)

How can i fix this?

[2015-02-28 21:28] mkalita commented on #35
INCYDK
[code]

[2015-02-28 21:35] mkalita commented on #46
Have you seen this #35? I had similar problem, but in my case removing all broccoli-... from package.json (except broccoli-asset-rev) helped, also had to remove custom "broccoli" stuff from Brocfile.js of course.

[2015-03-02 12:42] Marthyn commented on #46
It was indeed removing all the broccoli stuff, thanks!

[2015-03-02 12:42] #46 closed

[2015-03-05 14:25] lolmaus commented on #45
Also upgraded to Ember CLI 0.2.0-beta.1 and running into this issue. Please help!

[2015-03-06 17:42] lolmaus commented on #45
Okay, this only happens when your project uses both `ember-cli-compass-compiler` and `broccoli-sass`.

Removing `broccoli-sass` resolved the issue for me.

This problem is being tracked here: https://github.com/ember-cli/ember-cli/issues/2363

Also, this Ember CLI [changelog](https://github.com/ember-cli/ember-cli/releases/tag/v0.2.0-beta.1) note is relevant to the upgrade to Ember CLI 0.2.0-beta.

[2015-03-06 18:37] quaertym commented on #45
@lolmaus I am glad your issue is solved. It was mentioned in the [README](https://github.com/quaertym/ember-cli-compass-compiler/blob/master/README.md).

@lessless Is this fixed for you as well?

[2015-03-10 14:20] lolmaus commented on #45
@quaertym, this kinda means that `ember-cli-compass-compiler` makes the project incompatible with all addons using `broccoli-sass`, and there are quite a few of them.

I hope i'm wrong...

[2015-03-11 11:42] lolmaus opened #47 "Use ember-cli-compass-compiler to compile Sass in addons?"
Hi!

Currently, `broccoli-sass` is the standard de-facto for compiling addon styles.

I wish addon creators could make the `broccoli-sass` dependency optional, letting users choose which preprocessor to use.

Can `ember-cli-compass-compiler` compile addon styles? How?

[2015-03-11 11:46] quaertym commented on #47
Please link a addon that uses `broccoli-sass`, I will take a look at it.

[2015-03-11 11:47] lolmaus commented on #47
https://github.com/Blooie/ember-cli-notifications

[2015-03-11 11:47] lolmaus commented on #47
Also keep this in mind: https://github.com/ember-cli/ember-cli/issues/2363

[2015-03-11 17:48] lolmaus commented on #45
Somehow having both `ember-cli-compass-compiler` and `broccoli-sass` in one project works for me again. My main stylesheet is compiled with Compass and an addon's stylesheet is compiled with libsass.

PS I'm on Ember CLI 0.2.0.

[2015-03-11 17:52] quaertym commented on #45
@lolmaus It can be due to recent improvements in ember-cli that allows addons to have their own preprocessors. It would be great if we can link here related pull requests. Then we can close this.

[2015-03-11 18:01] lolmaus commented on #45
Not until https://github.com/ember-cli/ember-cli/issues/2363 is fixed.

Also, `ember-cli-notifications`, the addon i'm using that relies on `broccoli-sass` literally has no code specific to the preprocessor. It only has an `app/styles` folder with some Sass code and it mentions `broccoli-sass` in `package.json`'s `devDependencies` (and thus, assumes the user manually requires `broccoli-sass` in hi

[2015-03-12 02:27] lessless commented on #45
@lolmaus  @quaertym  what about this workaround https://github.com/ember-cli/ember-cli/issues/2363#issuecomment-62434753?

[2015-03-12 02:53] quaertym commented on #45
@lolmaus `ember-cli-compass-compiler` only compiles files under `app/styles/` it does nothing about addon's sass files. If it is possible for addons to use their own preprocessors, addon developers can use `ember-cli-compass-compiler` inside their addons then..

@lessless That could work but every addon that depends on `broccoli-sass` should implement it.

[2015-04-30 11:16] markhorgan commented on #42
I had the same problem. "assets" is hard-coded in the npm. A hack is to change the js file:

node_modules/ember-cli-compass-compiler/compass.js:
[code]

[2015-04-30 21:43] mooror opened #48 "I need a how-to tutorial"
Can someone do up a quick how-to guide/tut? I cannot seem to get this ember-cli plugin working but It seem to be the only pluggin for ember-cli that supports ruby gem imports to scss. I am getting this error:
[code]
I haven't placed anything in the broccfile for options so this is just what I'm getting by default. I have also made sure to remove broccoli-sass. Any help will be greatly appreciated.

[2015-04-30 23:19] mooror commented on #48
Update: I was able to get this error to go away but only after removing all the other folders and removing all the content in my appname.scss. The strange thing is that I don't get an error in compiling until I try to include susy's container mixin. I made sure to add susy to the require array but it still doesn't like it when I include containers.

[2015-04-30 23:20] mooror commented on #48
Heres my code btw
appname.scss
`$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);
//@import:'susy';
body{
    @include container(10%);
    background-color:green;
}`

[2015-05-01 21:04] quaertym commented on #48
Did you try this? This should be placed in your Brocfile.
[code]

[2015-05-04 01:02] mooror commented on #48
Yes I had tried this but unfortunately it did not work for me. Are those the only two steps? Updating the Brocfile and placing the code in the .scss file?

[2015-05-04 11:16] quaertym commented on #48
Can you provide a sample repo that demonstrates so that I can investigate? I wonder if it is windows specific.

[2015-05-15 14:20] FlouksBerlin commented on #35
On my end, since I'm using ember-cli-compass-compiler, I always get `dist/assets/app.css`.
But actually ember-cli expects `dist/assets/<app-name.css>`, like @quaertym already said.

Is there a way to set a name for the output-css-file in the compassOptions?

[2015-06-02 16:10] sunocean-sand commented on #35
Is this solved by generating app.scss in addition to [appname].css that's already there?

I'm encountering this problem while installing the ember-cli-cordova addon.

[2015-06-02 16:15] sunocean-sand commented on #46
@mkalita  did you remove
```var EmberApp = require('ember-cli/lib/broccoli/ember-app');```

It seems important that all my bootstrap depends on the imported ember-app in the broccoli file?

[2015-06-12 17:35] trucam opened #49 "Seems to cause ember-cli 0.2.7 to hang"
I'm experiencing a hanging build with:

version: 0.2.7
node: 0.12.4
npm: 2.11.0

I'm not sure how to further debug this. After uninstalling ember-cli-compass-compiler I'm able to build fine.

[2015-06-12 22:02] quaertym commented on #49
Do you have `compass` installed?

[2015-06-24 01:11] marlonmarcello commented on #42
Same happening here.

[2015-07-20 06:16] shaunc opened #50 "ember-cli 1.13.1: /assets/<app>.css not found"
There is something wrong -- the app's main css file is missing w/ `ember serve` after I install ember-cli-compass-compiler.

app.scss would seem to be compiling correctly: at least, it is silent w/ trivial app.scss. When I put in a syntax error, I get an error:

What else can I do to test? Perhaps the problem is the new use of non-standard broccoli file?

[2015-07-20 06:19] shaunc commented on #50
Ah ... trivial problem: my stylesheet was called (literally) `app.scss` not `name-of-my-app.scss`.

[2015-07-20 06:19] #50 closed

[2015-07-24 22:02] shaunc commented on #47
having problems with https://github.com/yapplabs/ember-modal-dialog

[2015-08-26 21:52] fullofcaffeine opened #51 "Adding to compass' sass-dir"
Hi!

I migrated from `ember-cli-sass` to `ember-cli-compass-compiler` because I needed to use a couple of compass mixins. I'm having an issue with paths, now. I have the following dir. structure:

[code]

I have some `sass` files under vendor (i.e `vendor/select2/select2.sass`) that I used to just import directly from `styles/app.sass`, like this:

[code]

It worked great with `ember-cli-sass`, bu

[2015-09-23 14:41] cbornhoft opened #52 ".scss files don't re-compile with `ember server`"
Right now, the only way to re-compile compass files with ember-cli-compass-compiler seems to be to run the command `ember build`.

However they should automatically re-compile if an ember server is running and a sass file is changed.

[2015-09-23 18:24] cbornhoft commented on #52
It looks like it is actually auto-compiling, but at odd intervals. Sometimes it takes a good minute to realize a file has changed, whereas javascript files are instant.

[2015-09-23 23:48] quaertym commented on #52
compass is slow compared to javascript compilation.

[2015-09-24 18:13] cbornhoft opened #53 "Compiler suddenly has started failing"
This error randomly started without any changes to the compiler or options. Now when using `ember build` this is the error that pops up:

    PS C:\dev\app> ember build
    version: 1.13.8
    Building...

    Build failed.
    Command failed: C:\Windows\system32\cmd.exe /s /c "compass compile --sass-dir=app/styles
                    --css-dir='C:\dev\app\tmp\compass_compiler-tmp_cache_dir-dYFBH4

[2015-09-24 18:21] cbornhoft commented on #53
Realized it wasn't the -css-dir breaking this, as that should be a tmp file.

[2015-09-24 18:25] cbornhoft commented on #52
@quaertym Cheers, I'm just surprised at how much slower it is. Build process without Sass seems to be 1/10th of what it is with.

[2015-09-24 18:25] #52 closed

[2015-09-24 20:52] cbornhoft commented on #53
The solution was to manually clear the `/tmp` directory. Seems the compiler was stuck on a particular file. Once the directory was cleared and the ember server restarted, it builds as expected!

[2015-09-24 20:52] #53 closed

[2015-09-24 21:15] cbornhoft opened #54 "Asset subdirectories should compile to local path"
Maybe I'm misunderstanding how this works but i'll see if I can explain first.

The default location for assets is `<app-name>/public/assets`, which then copy to `<app-name>/dist/assets` upon building. The problem lies in setting the default directories for any assets within ember-cli-compass-compiler.

Compass sets the font directory to `/fonts` by default. This causes warnings upon every build:

[2015-09-25 12:53] #49 closed

[2015-09-25 12:53] #48 closed

[2015-09-25 14:42] quaertym commented on #35
Fixed by https://github.com/quaertym/ember-cli-compass-compiler/commit/22e27ee058cde46af0fca258bb61fcb9076d719b.

[2015-09-25 14:42] #35 closed

[2015-09-26 00:42] #45 closed

[2015-09-26 01:01] quaertym commented on #51
Use relative paths or `importPath` option. README has examples for doing that. Please reopen if the issue is not fixed.

[2015-09-26 01:01] #51 closed

[2015-09-26 01:27] quaertym commented on #54
An example repo demonstrating the issue would be great. Can you submit that?

[2015-09-26 04:26] quaertym commented on #42
`outputPaths` are supported beginning from `0.2.0` release.

[2015-09-26 04:26] #42 closed

[2015-09-26 04:30] quaertym commented on #47
@stefanpenner Can you help us here? Can addon styles be compiled with `ember-cli-compass-compiler` instead of `broccoli-sass`? Or addon decides its preprocessor?

[2015-10-01 23:34] jfelchner opened #56 "Error when trying to build"
After installing `ember-cli-compass-compiler` I can't start the server:

[code]

[2015-10-02 01:07] quaertym commented on #56
Which version are you using? Do you have the following structure?
[code]

[2015-10-02 01:47] jfelchner commented on #56
Latest version and yeah I have `app.scss`

[2015-10-02 09:04] quaertym commented on #56
Can you provide a repo that demonstrates the issue so that I can investigate?

[2015-10-05 14:40] Glavin001 commented on #26
I am experiencing this bug again. I do have a space in my parent directory.

[2015-10-05 15:01] quaertym commented on #26
Does this fix the issue?
[code]

[2015-10-05 15:01] Glavin001 commented on #26
I've narrowed it down the dependency tree to https://github.com/quaertym/compass-compile/blob/master/lib/compass.js#L9-L10

I think the problem is with [`dargs`](https://github.com/sindresorhus/dargs) not escaping strings with spaces when creating the arguments.

[2015-10-05 15:04] Glavin001 commented on #26
@quaertym yup changing https://github.com/quaertym/ember-cli-compass-compiler/blob/master/index.js#L30 to `return '"'+path.join(outputDir, outputPath)+'"';` fixes the problem.

[2015-10-05 15:26] quaertym commented on #26
@Glavin001 :+1: , I will publish the fix as soon as possible.

[2015-10-05 22:37] Glavin001 commented on #26
@quaertym I submitted a little Pull Request. :smile:

[2015-10-05 23:45] #26 closed

[2015-10-07 16:39] designblooz commented on #54
I was having the same issue and found a solution.

Goto root of ember project path

[code]

edit ```config/compass.rb``` and add

[code]

don't forget to add
``` public/assets/images/sprites ```
to .gitignore

[2015-10-07 16:51] designblooz commented on #56
Remove ```broccoli-compass-compiler``` from your package.json

[2015-10-07 17:03] designblooz commented on #54
@quaertym maybe this can be part of README?

[2015-10-07 17:24] cbornhoft commented on #54
@quaertym Sorry I've been tied up with other parts of the project. I can make an example repo if you'd like. Though I found the solution to the problem is the same as @designblooz

Is there any way to be able to add the `http_` options into the `compassOptions` object? I realize these don't seem to be command line options, which that object translates to, so I'm not sure how easily that could be i

[2015-10-07 17:48] jfelchner commented on #56
@designblooz obviously that would fix it. ;)

And that's what I did, but I'd really like to use compass.

[2015-10-07 18:00] designblooz commented on #56
When you install ```ember-cli-compass-compiler``` you don't need to have ```broccoli-compass-compiler``` in your package.json. ```broccoli-compass-compiler``` is a dependency for ```ember-cli-compass-compiler```. I had the same error as you so I removed ```broccoli-compass-compiler``` from ```package.json``` as well as from ```node_modules``` and it was working fine.

[2015-10-07 18:14] jfelchner commented on #56
@designblooz I'll give that a shot! Thanks! 😄

[2015-10-08 08:18] quaertym commented on #56
@jfelchner Please close this if it fixes your problem.

[2015-10-08 08:36] jfelchner commented on #56
@quaertym I will.  I'll give it a shot this weekend.

[2015-10-14 14:55] mhenley-uk commented on #26
Is there a planned release date that includes this new fix? Cheers in advance!

[2015-10-14 16:10] #56 closed

[2015-10-14 16:10] quaertym commented on #56
@jfelchner Feel free to reopen it is not fixed.

[2015-10-14 16:12] quaertym commented on #26
@mhenley-uk It released in https://github.com/quaertym/ember-cli-compass-compiler/releases/tag/v0.3.1

[2015-10-14 16:15] mhenley-uk commented on #26
@quaertym Thanks

[2015-10-20 22:28] ankushdharkar opened #58 "'ember-cli-sass-and-compass-compiler' should be the name for the repo"
I think it will be a good idea to rename the repo to **ember-cli-sass-and-compass-compiler**, since it's the complete solution of Sass + Compass, not just compass. I initially didn't want to use this because I thought it was compass only, and I still needed to find a way for Sass. But then I read the note, and now I am using it.

Take a look at what I did to the readme with a fork here :  https://

[2015-10-20 22:41] quaertym commented on #58
There is no need to refer `sass` explicitly since `compass` already implies it. This [SO answer] (http://stackoverflow.com/questions/13777215/what-is-compass-what-is-sass-how-do-they-differ) explains it beautifully:

[Compass website](http://compass-style.org/) also says on the homepage that `Compass uses Sass`.

I think we can expect people using compass to know that compass uses sass.

[2015-10-20 22:41] #58 closed

[2015-10-21 05:34] ankushdharkar commented on #58
I think Rails need RVM installed before itself. Does it have its **own** compiler which is backward compatible and runs Ruby programs?

I guess you are right though.

[2015-10-21 12:08] quaertym commented on #58
[README](https://github.com/quaertym/ember-cli-compass-compiler/blob/master/README.md) actually mentions that there is no need for additional sass libraries:
[code]

RVM is Ruby Version Manager that helps you to maintain multiple versions of Ruby on the same machine. Rails does not require RVM but many people prefer RVM for its convenience.

I think I did not get your question:

[2015-10-23 20:16] gskaplan opened #59 "Default precision for compass is 5 -- need to increase it"
I am using bootstrap sass with ember-cli-compass-compiler - button line-heights aren't working right because the default precision for compilation appears to be 5 digits, but I actually need 9. Specifically, the bootstrap sass defines base-line-height as 1.428571429 but it truncates it to 1.42857. This makes buttons mal-aligned.

How can I change the precision? I've scoured the Internet but nothin

[2015-10-23 22:37] quaertym commented on #59
I think this issue belongs to the original [compass repo](https://github.com/Compass/compass).

[2015-10-25 02:57] gskaplan commented on #59
Perhaps, however many of us who use ember-cli with Bootstrap are likely to encounter this problem and may circle back to this project since it is related to compass. I'll share my findings with you and you can elect if you want to reference this.

Compass is built on Ruby, and the way to override its operation is to provide a config.rb file in the project root that was generated by ember-cli. This

[2015-10-25 02:57] #59 closed

[2015-10-29 00:06] drewchandler opened #60 "Latest broccoli-funnel causes files to go in the wrong directory"
With the latest broccoli-funnel files are ending up in `assets/assets` rather than `assets`.

I've temporarily fixed this in my app by locking broccoli-funnel to `0.2.8` rather than `^0.2.8`.

[2015-10-29 10:57] #60 closed

[2015-10-29 10:59] quaertym commented on #60
@drewchandler  Thanks for reporting this issue. It is fixed by `0.3.2` release.

[2015-10-29 16:43] drewchandler commented on #60
Thanks so much for the quick fix!

[2015-10-30 19:32] drewchandler opened #61 "CSS gets minified twice"
My production builds we're having the CSS minified by both Compass and broccoli-clean-css. This resulted in CSS that was broken for some Android phone. My solution was to use `minifyCSS: { enabled: false }` in my `ember-cli-build.js` file.

I think we should either disable ember-cli's default minification, or document the need to disable it manually in the `README`.

[2015-10-30 20:49] quaertym commented on #61
You can turn off minification for compass as well:
[code]

[2015-11-06 21:25] Baril27 commented on #37
I have run into a very similar issue in my project. @sumeetattree did you ever find a fix for your issues when importing the mixin 'font-smoothing'. Seems to be very similar to my issue when trying to use variables within my other .scss files in app/styles.

Here is my app.scss:
[code]

And here is the error I got in console:
NOTE: '$color-darkGrey-3' is declared in app/styles/variables.scss and c

[2015-11-09 22:38] #61 closed

[2015-11-09 22:38] quaertym commented on #61
@drewchandler  Please submit a PR if README needs more clarification.

[2015-11-11 15:26] IAmJulianAcosta opened #62 "Compile separated files?"
Hi, I want to know if is possible to have something like `app/styles/home.scss` and having it compiled to `dist/assets/home.css`, without having to import it explicitly in `app.scss`

[2015-11-11 15:37] quaertym commented on #62
You should take a look at: http://www.ember-cli.com/user-guide/#configuring-output-paths

[2015-11-11 15:44] IAmJulianAcosta commented on #62
Is normal to specify explicitly in `ember-cli-build.js` the files that I try to compile?

[code]

I supposed that if I have a `scss` file in the `css` folder, it will compile automatically.

[2015-11-11 15:56] IAmJulianAcosta opened #63 "Compiler executing twice"
Hi, I see that the compiler is executing twice, probably because it is detecting changes in the file twice.
[code]

[2015-11-11 17:06] IAmJulianAcosta opened #64 "Ignore unrelated imported files"
Hi, I want to know if is possible to be more selective in the compiling of the assets. I mean:

[code]

[code]

Changing `home/_a.css` triggers the compilation of *all* directory, instead of only recompiling home.css. `compass watch` works this way:

[code]

[2015-11-11 20:49] quaertym commented on #62
This is the way to create app in `ember-cli-build.js`.
[code]

[2015-11-12 10:50] IAmJulianAcosta commented on #62
Thanks!

[2015-11-12 10:50] #62 closed

[2015-11-19 01:31] vlascik opened #65 "Wrong output filename on Windows"
0.3.2 doesn't really work on Windows (broccoli-funnel@1.0.0):
[code]
relativePath gets "assets/app.css", while path.join(this.destDir, fileName) is "assets\app.css", equals test fails, and the final output filename is wrong (app.css), which breaks styling in the application, as the name should be my-app.css.

[2015-11-19 01:57] quaertym commented on #65
I think it is better to fix it in broccoli-funnel. This issue seems related: https://github.com/broccolijs/broccoli-funnel/issues/53

[2015-11-19 02:25] vlascik commented on #65
Thanks, you're probably right, I'll close it here.

[2015-11-19 02:25] #65 closed

[2015-11-23 19:05] KennedyTedesco opened #66 "Environment Variables"
Hi :)

It's possible to pass environment variables during build?

[2015-11-24 00:47] quaertym commented on #66
Please tell what you are trying to achieve.

[2015-12-08 10:12] mmusket opened #67 "compiler works on windows environment but not on mac"
I have an ember app that compiles scss files correctly on my windows environment but I am running into problems on OSX.

When I run ember serve, I can see compass_compiler_output_path folders being created in the tmp folder, and the compiled css files are in there,
but when I open the website I am greeted with a error 404 for file http://localhost:4200/assets/app.css

[2015-12-08 11:03] quaertym commented on #67
I use this everyday on a mac. Compiled file has the name of your project. The correct link should be: http://localhost:4200/assets/<name-of-the-project>.css

[2015-12-08 14:24] mmusket commented on #67
It was a while ago but I had changed the name of the main css file app.css.
And never ran into problems until now.
I'll try reference the app_name.css too just in case and report back

[2015-12-09 17:56] brandonjmckay commented on #37
Ya, I shouldn't be suggesting that if I can't do it. @quaertym Sorry for that.

[2015-12-11 15:39] oligriffiths opened #68 "Does not work with ember-component-css"
Hi,

This is a great addon, however it doesn't work with https://github.com/ebryn/ember-component-css

Not sure if the issue is on this side or the ember-component-css side, you get the following error:

[code]

https://github.com/ebryn/ember-component-css/issues/90

Any ideas?

[2015-12-16 06:17] youroff opened #70 "Is it supposed to be that slow?"
I'm trying to make compass and bootstrap work together and it seems like it takes >20 seconds to compile just plain bootstrap:
[code]

What would be normal compilation time?

Besides that, I observe errors that weren't there before (when I used ember-cli-sass):
[code]

I tried to launch this command and it only shows `>` as if it was expecting some input. Compass version is `1.0.3`.

UPD: Seems li

[2015-12-16 07:21] quaertym commented on #70
Use a main file (eg `app.scss`) and import other files (eg `_mixins.scss`) using:
[code]

[2015-12-16 13:31] youroff commented on #70
That is exactly what I'm doing. Except that I don't underscore them. Does underscore prevents file from being compiled separately?

My problem, as far as I see, is that variables and mixins from bootstrap (imported in app.sass before other files) are not accessible inside of "other files", when they are rendered in isolation.

And the performance issue is still there. I left only bootstrap import

[2015-12-16 17:30] quaertym commented on #70
I am aware that compilation is slow however I have no good solution for that for now. I hope someone with deeper knowledge of compass, sass cache and broccoli will tackle that and submit a PR.

[2015-12-19 18:17] mmusket commented on #67
So changing the file name to app_name.css works on macs.
But I still have a problem cause on windows it only works if I reference app.css

[2015-12-23 01:50] youroff commented on #70
Sorry, forgot to answer earlier. The problem as I discovered is that `compass` uses `ruby sass`, when `ember-cli-sass` relies on `node-sass` which uses `libsass` written in C. So it's much faster. Probably the only way to achieve the same speed of compilation is to try to keep using `ember-cli-sass` with only importing sass sources of Compass. Not sure if this approach allows for using of all the

[2015-12-23 13:33] quaertym commented on #70
What you said should be doable with ember-cli-sass. This repo uses compass as the name suggests. If a faster compass solution becomes available, I will switch to that.

[2016-01-05 13:55] basz commented on #63
me too... additionally the i get errors such as

[code]
and / or
[code]
I've made sure NOT to open those directories in the Finder - which would create .DS_Store files.

I once did use 'ember-cli-sass' but I have removed that from my project by removing it from the package.json and `npm install`

[2016-01-05 14:14] basz commented on #63
closing windows and 'find . -name ".DS_Store" -print -delete' removed the errors...

[2016-01-07 21:47] AndrewJo commented on #47
With recent Ember CLI versions (I'm current on 1.13.x), I believe `ember-cli-sass` is the package to look at for compiling SASS instead of `broccoli-sass`.

However, I looked into this and upon analyzing the source code, realized that there's a bug in https://github.com/quaertym/ember-cli-compass-compiler/blob/master/index.js#L40:
[code]

Should really be replaced with:
[code]

Otherwise, you will

[2016-01-12 01:20] #66 closed

[2016-01-12 01:23] quaertym commented on #67
Please reopen with a repo that demonstrates the issue.

[2016-01-12 01:23] #67 closed

[2016-01-12 01:24] #70 closed

[2016-01-12 09:18] AndrewJo commented on #47
@quaertym: I've managed to fix it without modifying a single line of code `broccoli-compass-compiler`. I must say, it was a fun problem to solve! :grin:

[2016-01-12 09:44] quaertym commented on #47
@AndrewJo :clap: :clap: congratulations, I will review and merge ASAP.

[2016-01-18 22:55] richrout opened #72 "Doesn't copy to [appname].css"
Hi,

I can't get ember-cli-compass-compiler to compile to [appname].css as per the docs.
Ember CLI version 1.13.14. Reproduce:

[code]

app.css is created (and in dist folder), but no bla.css

[2016-01-19 00:40] quaertym commented on #72
What is your `ember-cli-compass-compiler` version?

[2016-01-19 14:20] richrout commented on #72
I cleared my npm cache, it's version `0.3.2`
Probably worth noting my compass version is `1.0.3`

[2016-01-27 12:21] prudvi commented on #37
https://github.com/quaertym/ember-cli-compass-compiler/issues/37#issuecomment-154546236

facing above same issue and
here i am adding  my issue

error app/styles/dom/date_pickers.scss (Line 21: Undefined variable: "$midgrey".)
Compilation failed in 48 files.

Command failed: /bin/sh -c compass compile --output-style=compressed --sass-dir=app/styles --css-dir="/home/indiapc_dev_05/OfficeAPP/emberCL

[2016-01-29 16:35] #47 closed

[2016-03-11 21:43] repl-andrew-ovens commented on #72
Bump

[2016-03-14 03:25] gskaplan commented on #72
Is there any status on this? I have this exact same problem. It generates an app.css file, not an appname.css file.

[2016-03-14 09:21] quaertym commented on #72
@gskaplan Have you tried using the latest version?

[2016-03-14 12:50] gskaplan commented on #72
I believe I am using the latest - this only started happening when I switched from 0.3.1 to 0.4.0. Here's what I'm using:

ember: 2.4.1
ember-cli:  2.4.2
compass 1.0.3
ember-cli-compass-compiler: 0.4.0

Here's the package.json file just for fun:

[code]

[2016-03-14 13:04] repl-andrew-ovens commented on #72
This is only an issue on Windows. Please merge my pull request and cut a
new release
On Mar 14, 2016 6:50 AM, "Gerry Kaplan" <notifications@github.com> wrote:

[2016-03-14 13:09] gskaplan commented on #72
I don't know how to do that since it is part of my build and I'm using npm to fetch it. Is there a fix planned for the near future? Or can you tell me if there is an easy way to merge and pull your request into my project?

[2016-03-14 13:17] repl-andrew-ovens commented on #72
Sorry, that was meant for the owner. In the meantime, you can change your
package.json to use this instead of a version number:
repl-andrew-ovens/ember-cli-compass-compiler#df6a5647a0e28dad3823a439784fa14deaba6e80
On Mar 14, 2016 7:09 AM, "Gerry Kaplan" <notifications@github.com> wrote:

[2016-03-14 15:22] quaertym commented on #72
@repl-andrew-ovens Can you rebase so that it merges cleanly?

[2016-03-14 15:31] repl-andrew-ovens commented on #72
@quaertym Done :)

[2016-03-15 18:13] gskaplan commented on #72
Is there an ETA when this will be released? I will continue to use 0.3.1 until then. Thanks!

[2016-07-30 18:53] erzzo opened #73 "Error: File not found: /app/styles/app.scss"
Ember v: 2.7.0
Ember cli: 2.7.0

![image](https://cloud.githubusercontent.com/assets/886192/17272477/6c3b9628-5697-11e6-9217-f66a4ce577b2.png)

[2016-07-31 08:57] quaertym commented on #73
Do you have a `app.scss` not `app.css` file under `app/styles`?

[2016-07-31 09:17] erzzo commented on #73
It's there. I have sass installed https://github.com/aexmachina/ember-cli-sass and it is working without the compass compiler

[2016-08-01 08:45] quaertym commented on #73
You need to remove other sass addons, `ember-cli-compass-compiler` does not depend on other addons.

[2016-08-01 17:16] erzzo commented on #73
yes it's working now. But is it normal the compilation takes about 6s?

[2016-08-01 20:38] erzzo commented on #73
I see now, it is here https://github.com/quaertym/ember-cli-compass-compiler/issues/70

[2016-08-01 20:38] #73 closed, assigned to nobody

[2016-09-15 19:02] bambery opened #74 "can't get this to work in new ember app"
I followed the steps as best as possible in the readme, but I was not able to get this addon to work in a new ember cli app v 2.7.0.

Possibly the issue is the following step:
`In ./index.js of your project, make sure an included function is defined:`

My app does not have a file ./index.js. If I create one, my app will not run (nor can I run `ember build`), throwing the error

[code]

[2017-02-17 18:43] imack opened #75 "Compass Compile error when pushing to heroku"
I'm trying to use `ember-cli-compass-compiler` package with `ember-cli-rails`, but I get a problem when I try and push to Heroku: ` Your Ruby version is 2.2.6, but your Gemfile specified 2.3.3 (Bundler::RubyVersionMismatch)`. It seems to use a different version of ruby than the one from my Gemfile, even when I override the `compassCommand` option for `ember-cli-compass-compiler` to use `bundle exe

[2017-02-18 11:44] quaertym commented on #75
Do you get any error without overriding `compassCommand`?

[2017-02-20 22:23] imack commented on #75
@quaertym yeah; got the same error. I suspect it might have something to do with the `exec` creating a new shell where the Heroku Ruby version isn't set.

[2017-02-20 22:35] quaertym commented on #75
`exec` is used here: https://github.com/quaertym/compass-compile/blob/master/lib/compass.js#L25

[2017-03-01 17:48] rijensky opened #76 "Not finding any sass files"
Thank you for this plugin!

I'm working on windows with ember cli 2.11.1
Your docs are outdated and don't cover newer versions of ember-cli.

Creating an addon/styles dir does not work on the newer ember-cli versions, and they don't even have an index.js file anymore.
After a whole day bashing my head against this, I found a solution:
Here's the relevant part of my ember-cli-build.js:

[code]

Sho

[2017-03-01 17:56] #76 closed, assigned to nobody

[2017-07-25 16:05] MrChriZ commented on #76
Out of curisoity why did you close this?
I found it useful!

[2017-07-25 16:12] rijensky commented on #76
I don't really remember. I think I reinstalled everything and it worked.

On Jul 25, 2017 7:11 PM, "MrChriZ" <notifications@github.com> wrote:

[2021-03-31 14:21] kaitohara opened #77 "CompassCompiler error due to invalid Compass option"
I am seeing the following error when building with ember-cli-compass-compiler after upgrading ember-cli recently.
`[CompassCompiler]Error: invalid option: --tree-type=styles`

It looks like this is because [Ember Cli 's Broccoli started to add a new option value `treeType: 'styles'`](https://github.com/ember-cli/ember-cli/blame/6023cab4b3a7cd4ff3b4c7ed1d7a3fa552ab188a/lib/broccoli/default-packager

[2021-03-31 15:41] #72 closed

[2021-03-31 15:47] quaertym commented on #77
I will look into it. In the meantime, can you try setting `treeType` to `undefined` in `compassOptions`?

[2021-03-31 16:08] kaitohara commented on #77
thank you!
I did try setting `treeType` to `undefined` in `compassOptions` in `new EmberApp()`, but unfortunately the values get overwritten by `inputOptions`.
I also tried some other workarounds like setting treeType as a read-only property, but it seems it has no impact on how the options merge() works.